.env
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.terraform.d/

*.backup
*.bak
*.swp
*.vim
*.vscode
*.log
.DS_Store
